<!DOCTYPE html> 
<html data-layout-decorator="layouts/default-layout"> 
 <head> 
  <meta charset="utf-8" data-th-remove="all" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" data-th-remove="all" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" data-th-remove="all" /> 
  <meta name="description" content="ProDMIS" data-th-remove="all" /> 
  <meta name="author" content="Spring Roo" data-th-remove="all" /> 
  <link data-th-href="@{/public/img/favicon.ico}" data-th-remove="all" rel="icon" href="../../static/public/img/favicon.ico" /> 
  <link rel="shortcut icon" href="../../static/public/img/favicon.ico" data-th-remove="all" /> 
  <link rel="apple-touch-icon" href="../../static/public/img/apple-touch-icon.png" data-th-remove="all" /> 
  <title data-th-text="#{label_create_entity(#{label_document})}">ProDMIS
  - Create Document</title> 
  <!-- Bootstrap --> 
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" data-th-remove="all" /> 
  <!-- Font Awesome --> 
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" /> 
  <!-- Bootswatch CSS custom --> 
  <link rel="stylesheet" type="text/css" href="../static/public/css/theme.css" data-th-remove="all" /> 
  <!-- Roo CSS --> 
  <link rel="stylesheet" type="text/css" href="../static/public/css/springroo.css" data-th-remove="all" /> 
  <!--[if lt IE 9]>
       <script src="/public/js/html5shiv.min.js"></script>
        <script src="/public/js/respond.min.js"></script>
    <![endif]--> 
  <!-- Select2 --> 
  <link rel="stylesheet" type="text/css" data-th-href="@{/public/css/select2.css}" href="../../static/public/css/select2.css" /> 
  <link rel="stylesheet" type="text/css" data-th-href="@{/public/css/select2-bootstrap.css}" href="../../static/public/css/select2-bootstrap.css" /> 
  <!-- DateTimePicker --> 
  <link rel="stylesheet" type="text/css" data-th-href="@{/public/css/jquery.datetimepicker.css}" href="../../static/public/css/jquery.datetimepicker.css" /> 
  <script data-th-src="@{/public/js/jquery.min.js}" src="../../static/public/js/jquery.min.js"></script> 
 
 <style media="screen" type="text/css">
     .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
 
 </style>
 
 
 </head> 
 <body> 
  <!--START CONTAINER--> 
  <div class="container bg-container"> 


   <!--START CONTENT--> 
   <section data-layout-fragment="content"> 
    <div class="container-fluid content"> 
     <h1 data-th-text="#{label_create_entity(#{label_document})}">Create Document</h1> 
     <!--START FORM--> 
     <form class="form-horizontal" method="POST" enctype="multipart/form-data" data-th-object="${document}" data-th-action="@{/documents/upload}"> 
      <fieldset> 
       <legend data-th-text="#{label_data_entity(#{label_document})}">Document data </legend> 
      
<!--         <div class="input-group"> -->
<!--                 <label class="input-group-btn"> -->
<!--                     <span class="btn btn-primary"> -->
<!--                         Browse… <input style="display: none;" multiple="" type="file"/> -->
<!--                     </span> -->
<!--                 </label> -->
<!--                 <input class="form-control" readonly="" type="text"/> -->
<!--             </div> -->
<!--             <span class="help-block"> -->
<!--                 Try selecting one or more files and watch the feedback -->
<!--             </span> -->
        
            
<!--        <div class="form-group" data-th-classappend="${#fields.hasErrors('type')}? 'has-error has-feedback'">  -->
<!--         <label for="type" class="col-md-3 control-label" data-th-text="#{label_document_type}">type</label>  -->
<!--         <div class="col-md-3">  -->
<!--          <input id="type" name="type" data-th-value="*{{type}}" type="text" class="form-control" placeholder="type" data-th-placeholder="#{label_document_type}" data-toggle="tooltip" />  -->
<!--          <span id="name-help" class="help-block alert" data-th-if="${#fields.hasErrors('type')}" data-th-errors="*{type}">Help message.</span>  -->
<!--         </div>  -->
<!--        </div>  -->
     
     
       <div class="form-group" data-th-classappend="${#fields.hasErrors('description')}? 'has-error has-feedback'"> 
        <label for="description" class="col-md-3 control-label" data-th-text="#{label_document_description}">description</label> 
        <div class="col-md-6"> 
         <textarea id="description" name="description" data-th-value="*{{description}}"  class="form-control" rows="7" cols = "150" placeholder="description" data-th-placeholder="#{label_document_description}" data-toggle="tooltip" ></textarea>
         <span id="name-help" class="help-block alert" data-th-if="${#fields.hasErrors('description')}" data-th-errors="*{description}">Help message.</span> 
        </div> 
       </div> 
      
         <div class="form-group" data-th-classappend="${#fields.hasErrors('name')}? 'has-error has-feedback'"> 
       	 <label for="type" class="col-md-3 control-label" data-th-text="#{label_document_name}">Name</label>
              <div class="col-md-6"> 
         <div class="input-group">
           <input class="form-control" readonly="readonly" type="text"/>
           <label class="input-group-btn">
            <span class="btn btn-primary"> Browse <input style="display: none;"  type="file" name="file"/> </span>
           </label>
         </div>
<!--                   <span class=""> Try selecting one or more files and watch the feedback </span> -->
         </div>

         <span id="name-help" class="help-block alert" data-th-if="${#fields.hasErrors('type')}" data-th-errors="*{type}">Help message.</span> 
       </div> 
            
            
       <!-- FORM BUTTONS --> 
       <div class="form-group"> 
        <div class="col-md-12"> 
         <div class="pull-left"> 
          <!-- TODO IE8 --> 
          <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{/documents} + '\''" data-th-text="#{label_reset}">Cancel</button> 
         </div> 
         <div class="pull-right"> 
          <input type="submit" value="Accept" data-th-value="#{label_submit}" class="btn btn-primary" /> 
         </div> 
        </div> 
       </div> 
      </fieldset> 
     </form> 
     <!--END FORM--> 
    </div> 
    <!--END CONTENT--> 
   
       <script>
  
    $(function() {

  // We can attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  // We can watch for our custom `fileselect` event like this
  $(document).ready( function() {
      $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }

      });
  });
  
});
  //# sourceURL=pen.js
  </script>
   
   </section> 
  </div> 

  
  <!--END CONTAINER--> 
  <footer class="container"> 
   <p class="text-right">© Powered By Spring Roo</p> 
  </footer> 
  <!-- Bootstrap core JavaScript
    ================================================== --> 
  <!-- JQuery --> 
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.3.js"></script> 
  <!-- Bootstrap --> 
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script> 
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug --> 
  <script data-th-remove="all" data-th-src="@{/public/js/bootstrap.min.js}" src="../../static/public/js/ie10-viewport-bug-workaround.js"></script> 
  <!-- Application --> 
  <script data-th-remove="all" data-th-src="@{/public/js/main.js}" src="../../static/public/js/main.js"></script> 
  <div data-layout-fragment="javascript"> 
   <!-- Moment.js --> 
   <script data-th-src="@{/public/js/moment.js}" src="../../static/public/js/moment.js"></script> 
   <script data-th-src="@{/public/js/moment-} + ${application_locale} + .js" src="../../static/public/js/moment-en.js"></script> 
   <!-- Select2 --> 
   <script src="../../static/public/js/select2.full.js" data-th-src="@{/public/js/select2.full.js}"></script> 
   <script src="../../static/public/js/select2.full-es.js" data-th-src="@{/public/js/select2.full-es.js}"></script> 
   <script src="../../static/public/js/select2-defaults.js" data-th-src="@{/public/js/select2-defaults.js}"></script> 
   <!-- DateTime Picker --> 
   <script src="../../static/public/js/jquery.datetimepicker.full.min.js" data-th-src="@{/public/js/jquery.datetimepicker.full.min.js}"></script> 
   <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script> 
  </div> 
 </body> 
</html>